numpy
pandas
scikit-learn
matplotlib
seaborn
geopandas
scipy
ipdb
ipykernel
rasterio
rasterstats
google-cloud-bigquery
db-dtypes
google-cloud-storage
plotly
pydeck
streamlit
geojson
fastapi
uvicorn
joblib
